
body {
  color: #9ca1b2;
  background: #ffffff;
  overflow-x: hidden !important;

}

.pinkish-color{
  background-color: 
  #69a628;
  color: #ffffff;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: 
    #69a628;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
li{
  list-style: none;
}
.navbar-wrapper,
nav.navbar {
  background-color: 
  #69a628!important;
  color: black !important;
  position: relative !important;
  height: 50px !important;

}
.navbar-collapse{
  background-color: 
  #69a628!important;
}
.navbar-expand-lg .navbar-collapse {
  height: 50px !important;
}
.custom-bars {
  color: #ffffff;
  cursor: pointer;
}

.navbar-brand img{
  width: 150px;
  z-index: 10000;
 
}

#sidebar-wrapper {
  background: #ce8452;
  margin-top: 80px;
}

.action_menu_horizontal {
  background: #2195f1;
}

nav.navbar {
  z-index: 3000;
}
.mobile-header{
  display: none;
}

body {
  color: #9ca1b2;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.action_menu_horizontal {
  background: #2195f1;
}

nav.navbar {
  z-index: 3000;
}

.sidebar-nav {
  width: 100%;
}
.sidebar-nav li {
  line-height: 40px;
  width: 100%;
}

.sidebar-nav li a {
  display: block;
}

.sidebar-nav li span {
  display: none;
}

#wrapper.toggled .sidebar-nav li span {
  display: none;
}
.wrapper.toggled .card .fa-cog{
  margin-left: 50px !important;
}

#wrapper.toggled {
  padding-left: 0px;
}
#wrapper {
  padding-left: 64px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper,
html,
body,
#wrapper {
  min-height: 100% !important;
  height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); #sidebar-wrapper {
  z-index: 1000 !important;
  position: fixed !important;
  top: 80px;
  left: 64px;
  width: 250px;
  height: 100%;
  margin-left: -64px;
  overflow-y: auto !important;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper > ul.sidebar-wrapper > li span {
  display: inline-block;
  margin-left: -30px;
  
}
#sidebar-wrapper .profile-bio {
  display: block;
}
#wrapper.toggled #sidebar-wrapper .profile-bio {
  display: none;
}
#wrapper.toggled #sidebar-wrapper li span {
  display: none;
}
#wrapper.toggled .sidebar-nav li a{
  padding: 30px 8px;
}

.sidebar-nav a img{
  float: left;
  margin-left: 12px;
  margin-top: 10px;
}
#wrapper.toggled .sidebar-nav a img{
  margin-top: -10px;
}

#wrapper.toggled #sidebar-wrapper {
  width: 64px;
}
#wrapper.toggled .profile-bio {
  display: block;
}

#wrapper.toggled #page-content-wrapper {
  width: 100%;
  position: relative;
  padding-left: 15px;
}


#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0px !important;
}
.dashboard-main-heading h4{
  background-color: #f8f9fa;
 margin-top: 110px;
 margin-bottom: 70px;
}
#page-content-wrapper thead{
  background-color: #ce8452;
  color: white;
}
#wrapper.toggled .navbar-wrapper{
  padding-right: 250px !important;
}
#wrapper.toggled .navbar-brand{
  padding-right: 25px !important;
}

/* Sidebar Styles */

.sidebar-nav {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav .custom-acordion:hover {
  background-color: #69a628 ;
  color: #ffffff !important;
}
.toggle-list:hover{
  background-color: #ce8452;
}
.toggle-list ul li a{
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.sidebar-nav li a {
  margin-top: 0px !important;
  display: block;
  text-decoration: none;
  color: #757da4;
}
.sidebar-nav li a:hover, .sidebar-nav li.active a{
  background-color: #69a628 !important;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active a {
  text-decoration: none;
  color: #fff;
  background-color: #1e53e4;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 64px;
    overflow-y: auto !important;
  }
  #page-content-wrapper {
    position: relative;
   
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  #page-content-wrapper {
    padding-left: 0px !important;

  }
  #wrapper {
    padding-left: 0px !important;
  }
}

.sidebar-nav {
  width: 100%;
}
.sidebar-nav li {
  line-height: 40px;
  width: 100%;
  text-align: center;
}
#nav-side{
  overflow-y: auto !important;
}

.sidebar-nav > li span {
  color: white;
  margin-left: -70px;
}
 .sidebar-nav li span {
  display: none;
} 
.sidebar-nav > li {
  border-bottom: 1px solid #ffffff;
}
.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-size: 14px;
  padding: 5px 0px;
}
.sidebar-nav > li > a:hover,
.sidebar-nav > li.active > a {
  text-decoration: none;
  color: #fff;
  background: #f5981f;
}
#wrapper.toggled .sidebar-nav li {
  text-align: left;
}

.sidebar-nav li a {
  display: none;
}

.sidebar-nav li span {
  display: inline-block;
}

#wrapper.toggled .sidebar-nav li span {
  display: block;
}

#wrapper.toggled {
  padding-left: 34px;
}
#wrapper {
  padding-left: 64px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


.custom_button_1 i {
  color: #2196f3;
}

#sidebar-wrapper > ul.sidebar-wrapper > li span {
  display: block;
}

#wrapper.toggled #sidebar-wrapper {
  width: 64px;
}

#wrapper.toggled #sidebar-wrapper li {
  text-indent: 30px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding-left: 64px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -150px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li a {
  margin-top: 15px;
  display: block;
  text-decoration: none;
  color: #757da4;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active a {
  text-decoration: none;
  color: #fff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 64px;
    overflow-y: visible;
  }
 
  #page-content-wrapper {
    position: relative;
    padding-left: 230px;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
.nav-tabs .nav-link {
  font-size: medium;
  font-weight: 700;
  padding: 12px 20px;
  color: #fff;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #3a3e52;
  border: 0px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 1px solid #2196f3;
  padding-bottom: 11px;
  padding-right: 21px;
  padding-left: 21px;
}
.custom-dropdown-menu {
  left: -90px;
}
.nav-tabs {
  border: 0px;
}

.tab-content {
  background: #2f3242;
  padding: 1em;
}
.main-logo{
  width: 30px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) and (max-width: 992px) {
 

  #sidebar-wrapper {
    width: 220px;
    margin-top: 103px !important;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0px;
  }
  .sidebar-nav{
    margin-top: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  #sidebar-wrapper {
    width: 220px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 64px;
  }
  #wrapper.toggled .sidebar-nav a img{
    margin-left: 5px;
  }
}

@media (min-width: 1200px) {
}
@media (max-width: 575.98px) {
  .responsive-table{
    overflow-x:auto !important;
    width: 100%;
  }
  .dashboard-main-heading h4{
    font-size: 14px;
    font-weight: 500  ;
  }
  .navbar-wrapper,
  nav.navbar {
   position: fixed !important;
   width: 100%;
   height: 100px !important;
  }

  #sidebar-wrapper {
    width: 220px;
    margin-top: 103px !important;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0px;
  }
}

@media (max-width: 767.98px) {
  .custom-dropdown-menu {
    left: 0px;
  }
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}






.custom-cards {
  padding: 3px 8px !important;
  border-radius: 10px;
  font-weight: 400;
  margin-top: 90px;
  min-height: 100px;
}
.vertical-line{
  display: inline-block;
  border-left: 2px solid #f0f1f3;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
  height: 38px;
}
.custom-cards .card-content span {
  font-size: 14px;
  color: #2c2c2c;
  font-weight: 400;
}
.custom-cards .card-content p {
  font-size: 20px;
  color: #2c2c2c;
  font-weight: 600;
}
.card-body {
  padding-top: 5px;
  padding-bottom: 10px;
  color: #2c2c2c;
}
.card-heading {
  font-size: 13px;
}
.custom-cards p {
  padding-bottom: 0px;
}
.custom-cards .custom-span {
  font-size: 24px;
  font-weight: 700;
}
.custom-card-1 {
  border-left: 5px solid #f29993;
}
.custom-card-2 {
  border-left: 5px solid #5a4c8c;
}
.custom-card-3 {
  border-left: 5px solid #ffbe00;
}
.custom-card-4 {
  border-left: 5px solid #3cb55d;
}
/* cards area end */

.custom-card-1 .card-value,
.custom-card-2 .card-value,
.custom-card-3 .card-value,
.custom-card-4 .card-value {
  font-size: 20px;
  color: #2c2c2c;
  font-weight: 700;
}
.custom-border{
  border-left: 1px solid #ebeaea;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.student-card {
  padding: 10px 10px;
  border-radius: 10px;
}
.student-card h4 {
  font-size: 15px;
  color: #2c2c2c;
  font-weight: 700;
  margin-bottom: 20px;
}
.custom-gray{
  background-color: #f9fafa;
}
.student-card .student-list {
  background-color: #f5f7fa;
  border-radius: 10px;
  padding: 1px;
}